@{
    ViewBag.Title = "Index";
}
@{
    Layout="~/Views/Shared/AdminLayout.cshtml";
}
<div class="page-header">
          <h1><font color="green">Admin's Page</font></h1>
</div>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                
                <center><img src="~/Image/slider1.png" alt="Chania" /></center>
                    
            </div>

            <div class="item">
                <center> <img src="~/Image/slider3.gif" alt="Chania" /> </center>
            </div>

            <div class="item">
                <center><img src="~/Image/software.png" alt="Flower" /> </center>
            </div>
            
            <div class="item">
               <center> <img src="~/Image/slider6.jpg" alt="Flower" /></center>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    </br></br>
   <font color="lightblue">
     <div class="slider">
        <div class="container-fluid">
          <div id="heroSlider" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>The Compelete Buying Authority</h3>
                      <p>
                        One of the Web’s leading destinations for computer reviews, Computer Shopper is your source for labs-based reviews of laptop computers, desktop computers, tablets, and related computer products. Our ratings, rankings, and pricing help you find the top computer products and best computer deals.
                       
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/want.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>Our Sole Scope</h3>
                      <p>
                        The modern era has new requirements. To   keep   pace   with   the modern world   and  to  meet  these requirements    AIRVOX Technologies  offers  you  now  ONLINE SHOPPING  thus   to  bring  ease  in your  life and  to  save  your  precious  time.
                        
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/shop2.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3> ABOUT PRODUCTS</h3>
                      <p>
                        Get excited about our products.We build awesome products in mobile technologeis.
                          Also Laptops And other Electronic Equipments.
                          And We are also the Business Partner with the Following popular brands:
HP (Hewlett Packard)
DELL
FUJITSU
SONY VAIO
APPLE
MICROSOFT

                      
                      </p>
                                          
                    </div>
                    <div class="span5">
                      <img src="~/Image/tech.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h3>Our Customers</h3>
                      <p>
                       We have customers from Spread All Over the World this because of our finest products and qaulity of our products.
                      </p>
                                           
                    </div>
                    <div class="span5">
                      <img src="~/Image/screen.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
          </div>
        </div>
      </div>
       </font>
      <!-- End: slider -->
     <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/boot-business.js"></script>

         