@{
    ViewBag.Title = "seeDetail";
}
@{
    Layout ="~/Views/Shared/AdminLayout.cshtml";

}
@model List<Project_1.Models.Product>
<h2>seeDetail</h2>
<div align="center">
<div class="thumbnail">
                  <img src="~/Image/@Model[0].ProductImage" style="height:200px;width:260px">
                  <div class="caption">
                    <h1>@Model[0].ProductName</h1>
                    <p>
                      <div><h4>Catogery     @Model[0].ProductCatagery</h4></div>
                      <div><h4>Price        @Model[0].ProductPrice</h4></div>
                        <a href="/Product/updateProduct?pname=@Model[0].ProductName" class="btn btn-primary">Edit</a>&nbsp;
                      <a href="/Product/delproduct?pname=@Model[0].ProductName" class="btn btn-danger">Delete</a>
                    </p>
                  </div>
                  
                </div>
    </div>