@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Success</h2>
<div class="jumbotron" >
    <font color="lightblue"><h3>You are SuccessFully Sign Up</h3>
    <a href="/Home/Login">PRESS HERE FOR LOGIN</a>
</div>
