@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";

}
@model Project_1.Models.User
<div class="page-header">
          <h1><font color="green">Hi , Customer</font></h1>
</div>

<div class="content">
      <!-- Start: slider -->
      <div class="slider">
        <div class="container-fluid">
          <div id="heroSlider" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Mobiles.</h1>
                      <p>
                       The Computer Point APPLE store   has  an  advantage  that  we  are  one  of  the  authorized   dealers  of  APPLE  products  in  Pakistan. We offer you the genuine INTERNATIONAL and LOCAL warranty on all APPLE products in PAKISTAN. We also provide the facility of online product order and delivery throughout PAKISTAN. We discount in a majority of APPLE products.
                      </p>
                                            
                    </div>
                    <div class="span5">
                      <img src="~/Image/mobile1.png" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Laptops</h1>
                      <p>
                       We Sell Laptops of many types.We are the Business Partner with the Following popular brands:
HP (Hewlett Packard)
DELL
FUJITSU
SONY VAIO
APPLE
MICROSOFT
                      </p>
                                            
                    </div>
                    <div class="span5">
                      <img src="~/Image/shop2.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Cameras</h1>
                      <p>
                       MyCameras is the leading online shop in Pakistan since last 6 years, we have satisfied thousands of people with our products.
MyCameras offers unique quality, the assurance of trust and a excellence service that distinguishes us above the rest.
                      </p>
                      
                    </div>
                    <div class="span5">
                      <img src="~/Image/camera2.png" class="thumbnail" >
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Usbs</h1>
                      <p>
                        We are determined to combine honest dealings with outstanding service before during and after the sale, if you have any queries please do not hesitate to Contact us our customer support team will be more than happy to serve you.
                      </p>
                                           
                    </div>
                    <div class="span5">
                      <img src="~/Image/usb1.png" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
          </div>
        </div>
      </div>
      <!-- End: slider -->
      
       <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/boot-business.js"></script>
  